
@{
    ViewBag.Title = "ReviewAdded";
}

<div class="alert alert-success" id="review">
    <h1>Review added successfully</h1>
    @Html.ActionLink("Apartmani", "Apartmani", "Home", null, new { @class = "navbar-brand" })
</div>